.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(245, 245, 245);
    padding: 1rem;
    color: #333;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navList {
    list-style: none;
    display: flex;
  }
  
  .navItem {
    margin: 0 1rem;
    cursor: pointer;
  }
  